name: Register Package
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to register or component to bump (e.g., 1.0.0, patch, minor, major)"
        required: true

jobs:
  register:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: julia-actions/RegisterAction@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
